
h1 {
	font-size: 3rem;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #343a40;
	font-weight: 500;
	text-shadow: 1px 1px #fff;
}

.card {
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: none;
	margin-bottom: 20px;
	transition: all 0.3s;
	border-radius: 10px;
}

.card:hover {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.card-title {
	color: #b8860b;
	font-weight: bold;
}

.card-text {
	color: #556b2f;
}

.card-link {
	color: #006400;
	text-decoration: none;
	font-weight: bold;
}

.card-link:hover {
	color: #228b22;
	text-decoration: underline;
}
